@model bug_tracker.Models.TicketModel


@{
    ViewData["Title"] = "Edit";
}

<h3>Edit Ticket</h3>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="StartDate" />
            <input type="hidden" asp-for="EndDate" />
            <input type="hidden" asp-for="TicketProjectName" />

            <div class="form-group">
                <label asp-for="TicketName" class="control-label"></label>
                <input asp-for="TicketName" class="form-control" />
                <span asp-validation-for="TicketName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketDescription" class="control-label"></label>
                <textarea asp-for="TicketDescription" class="form-control"></textarea>
                <span asp-validation-for="TicketDescription" class="text-danger"></span>
            </div>


            @if (Model.TicketStatus == "Open")
            {
                <div class="form-group">
                    <label asp-for="TicketStatus" class="control-label"></label>
                    <select asp-for="TicketStatus" class="form-control">
                        <option value="Under Development">Under Development</option>
                        <option value="Closed">Closed</option>
                    </select>
                    <span asp-validation-for="TicketStatus" class="text-danger"></span>
                </div>
            }
            else if (Model.TicketStatus == "Under Development")
            {
                <div class="form-group">
                    <label asp-for="TicketStatus" class="control-label"></label>
                    <select asp-for="TicketStatus" class="form-control">
                        <option value="Open">Open</option>
                        <option value="Closed">Closed</option>
                    </select>
                    <span asp-validation-for="TicketStatus" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="TicketStatus" class="control-label"></label>
                    <select asp-for="TicketStatus" class="form-control">
                        <option value="Open">Open</option>
                        <option value="Under Development">Under Development</option>
                    </select>
                    <span asp-validation-for="TicketStatus" class="text-danger"></span>
                </div>
            }


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button class="btn btn-secondary" asp-action="Index">Cancel</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
